# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle properties
gradle.properties

# Ignore Gradle build output directory
build

# Ignore VS Code settings
.vscode

# Ignore Eclipse settings
.settings
